<form [formGroup]="form" >
  <p>
    Enter login
  </p>
  <div>
    <input type="text" formControlName="login" name="login">
    <div *ngIf="form.controls.login.hasError('less')  && form.controls.login.touched">
        Enter less {{5-form.controls.login.value.length}} letters
    </div>
    <div *ngIf="form.controls.login.hasError('ower') && form.controls.login.touched">
        You enter  {{ form.controls.login.value.length - 10}} superfluous letters
    </div>
  </div>

  <p>
    Enter password
  </p>
  <div>
    <input type="password" formControlName="password" name="password">
  </div>

  <p>
    Repeat password
  </p>
  <div>
    <input type="password" formControlName="repeatPass" name="repeat">
    <div *ngIf="form.controls.repeatPass.touched && form.hasError('ErrPassword')">
      Password not similar
    </div>
  </div>


  <br>
  <button (click)="save(form) ">
    SAVE
  </button>
</form>

<hr>
<br>
<hr>
